@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --c-blue: #48b2ff;
  --primary-font: 'Roboto Mono', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;  
}